<!doctype html>
<html ng-app="todo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node Todo</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- SPELLS -->
	        <!--[if lt IE 9]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	        <![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="js/core.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">

		<div class="row">
			<div class="col-sm-6">
				first
			</div>
			<div class="col-sm-6">
				second
			</div>
		</div>

		<!-- ANGULAR CONTENT INJECTED HERE -->
		<div class="row">
			<div ng-view></div>
		</div>

	</div>
</body>
</html>