<!doctype html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="Scotch">

	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><!-- Force IE to use the latest rendering engine -->
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>Node Todo</title>

	<!-- ICONS -->
	<link rel="shortcut icon" type="image/png" href="img/icons/favicon-16.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/icons/favicon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/icons/favicon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/icons/favicon-114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/icons/favicon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/icons/favicon-57.png">

	<!-- SCROLLS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- SPELLS -->
	        <!--[if lt IE 9]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	        <![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="js/core.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			first
		</div>
		<div class="col-sm-6">
			second
		</div>
	</div>
</div>
</body>
</html>